@import "~codemirror/lib/codemirror.css";
@import "~codemirror/addon/merge/merge.css";
@import "~codemirror/addon/fold/foldgutter.css";
@import "./highlight.css";
/* @import "~font-awesome/css/font-awesome.css"; */
@import "../node_modules/font-awesome/css/font-awesome.css";
@import "../fontcustom/fontcustom.css";


/* div.CodeMirror-merge-pane > div > div > div.CodeMirror-scroll > div.CodeMirror-sizer > div > div.CodeMirror-lines {
  background-color: red;

} */

.files {
  background: rgba(255, 255, 255, 0.705);
  width: max-content;
  margin: .1em;
  padding: .1em;
  padding-right: .3em;
}

.files ul, .files li {
  list-style: none;
  padding: 0;
  margin: 0;
}
.files ul ul {
  border-left: 0.1em dotted hsl(0, 0%, 33%);
}
.files li {
  display: block;
  position: relative;
  margin-left: 20px;
}
.files li:before {
  margin-left: -15px;
  position: absolute;
  padding-top: 3px;
  padding-bottom: 3px;
}
.files li > :first-child {
  padding-top: 3px;
  padding-bottom: 3px;
}

.content-block {
  background: rgba(255, 255, 255, 0.671);
  width:fit-content;
  height: fit-content;
  margin: .3em;
  padding: .1em;
  border: 0.1em solid white;
  border-radius: 0.2em;
}


.error-editor {
  overflow: auto;
  background:
  /* linear-gradient(to bottom left,transparent 40%,red 40.99%,red 60%,transparent 60.99%) top   /100% 100%,
  linear-gradient(to top    left,transparent 40%,red 40.99%,red 60%,transparent 60.99%) bottom/100% 100%, */
  linear-gradient(-45deg ,transparent 40%,red 40.99%,red 60%,transparent 60.99%),
  linear-gradient(45deg ,transparent 40%,red 40.99%,red 60%,transparent 60.99%),
  linear-gradient(rgba(219, 122, 141, 0.233),rgba(219, 122, 141, 0.233));
  background-repeat:no-repeat;
  /* -webkit-clip-path:polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
  clip-path:polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%); */

}

.error-editor > div > :first-child {
  background: rgba(255, 255, 255, 0.575);
  height:auto;
}

.fa-warning:before{
  color:red
}

.evo-button {
  margin: 0;
  padding: 1px;
  border: 0.1em solid hsl(0, 0%, 31%);
  border-radius: 0.2em;
  background-color: hsl(0, 0%, 70%);
  outline: none;
  cursor: pointer;
  opacity: 0.6;
}

.evo-button:hover,
.evo-button.clicked {
  opacity: 1;
}

.CodeMirror-merge-left > .editor {
  position: relative;
}

.CodeMirror-merge, .CodeMirror-merge > .CodeMirror {
  height: 100%;
}

.CodeMirror-merge-pane,
.CodeMirror-merge-2pane > .CodeMirror-merge-pane > div,
.CodeMirror-merge-2pane > .CodeMirror-merge-pane > div > .CodeMirror {
  height: 100%;
}

html {
  font-size: 14px;
  box-sizing: border-box;
  font-family: Verdana, non-serif;
}

.cover {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hasError {
  filter: blur(3px);
}

.loadingIndicator {
  font-size: 200%;
  color: #555;
}

.dropTarget {
  position: absolute;
  top: 0;
  bottom: 26px;
  left: 0;
  right: 0;
}

.dropIndicator {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 200;
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border: 3px dashed #888;
  border-radius: 10px;
}

.dropIndicator > div {
  max-width: 90%;
  color: #888;
  font-size: 32px;
}

.banner {
  background-color: #b8dff7;
  border-right: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}


#root {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 26px);
}

#Toolbar {
  flex-shrink: 0;
  flex-grow: 0;
  font-family: monospace;
  height: 32px;
  line-height: 32px;
  border-bottom: 1px solid #ddd;
  color: #454545;
  padding-left: 10px;
  background-color: #efefef;
  z-index: 200;
}

#Toolbar,
#Toolbar .menuButton ul {
  background-color: #efefef;
}

#Toolbar > *,
#Toolbar > .menuButton > span,
#Toolbar button {
  background-color: transparent;
  box-sizing: border-box;
  color: inherit;
  display: inline-block;
  font-family: inherit;
  font-size: 16px;
  margin: 0;
  min-width: 90px;
  outline: none;
}

#Toolbar > .menuButton > span {
  cursor: default;
  line-height: 29px;
  padding: 2px 6px;
}

#Toolbar > * {
  height: 32px;
  border-right: 1px solid #ddd;
  vertical-align: top;
}

#Toolbar > * button {
  height: 100%;
  border: none;
  cursor: pointer;
}

#Toolbar > h1 {
  padding: 0;
  padding-right: 10px;
  margin: 0;
  font-size: 18px;
  display: inline-block;
  vertical-align: top;
}

#Toolbar > a {
  color: inherit;
  text-decoration: none;
}

#Toolbar .menuButton {
  position: relative;
}

#Toolbar .menuButton:hover > ul {
  display: block;
}

#Toolbar .menuButton ul {
  position: absolute;
  left: -1px;
  padding: 0;
  margin: 0;
  list-style: none;
  display: none;
  border: 1px solid #ddd;
  border-top: none;
  min-width: 100%;
  max-height: calc(100vh - 65px);
  overflow-y: auto;
}

#Toolbar .menuButton ul li {
  white-space: nowrap;
}

#Toolbar .menuButton ul button {
  line-height: 28px;
  padding-top: 2px;
  padding-bottom: 2px;
  /* for scrollbar */
  padding-right: 15px;
  text-align: left;
  width: 100%;
}

#Toolbar > *.disabled,
#Toolbar button:disabled,
#Toolbar button:disabled:hover,
#Toolbar button:disabled:active {
  background-color: transparent;
  color: #888;
  cursor: default;
}

#Toolbar .menuButton li.selected {
  background-color: rgba(0, 0, 0, 0.05);
}

#Toolbar > a:hover,
#Toolbar > .button:hover,
#Toolbar ul button:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

#Toolbar > a:active,
#Toolbar button:active {
  background-color: rgba(0, 0, 0, 0.3);
}

#info {
  color: #898989;
  cursor: default;
  float: right;
  padding-right: 20px;
  border: none;
}

#info.small {
  font-size: 12px;
  line-height: 1.3em;
}

.errorMessage {
  font-family: Verdana, non-serif;
  font-size: 1.2em;
}

.errorMessage h3 {
  padding-top: 0;
  margin-top: 0;
  color: #CC0000;
}

#contribution {
  font-size: 0.9em;
  color: #555;
  position: absolute;
  height: 25px;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  line-height: 25px;
  background-color: #efefef;
  border-top: 1px solid #ddd;
}

.splitpane-content {
  flex-grow: 2;
  position: relative;
}

.splitpane {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.splitpane-divider {
  background-color: #ddd;
}

.splitpane-divider:hover {
  background-color: #999;
  cursor: col-resize;
}

.splitpane-divider.vertical:hover {
  cursor: row-resize;
}

.output {
  box-sizing: border-box;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0;
  border: none;
}

.output .toolbar {
  font-size: 14px;
  margin-left: -1px;
  border-bottom: 1px solid #ddd;
}

.output .toolbar > button {
  margin: 0;
  height: 100%;
  min-width: 90px;
  border: 1px solid transparent;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  font-size: 14px;
  background-color: transparent;
  display: inline-block;
  vertical-align: top;
  outline: none;
  cursor: pointer;
}

.output .toolbar > button.active {
  border-color: #999;
  background-color: #999;
  color: #f5f5f5;
}

.output .toolbar .time {
  float: right;
  margin-right: 10px;
  font-size: 10px;
  line-height: 25px;
}

.output > .container {
  overflow: auto;
  position: absolute;
  top: 25px;
  left: 0;
  right: 0;
  bottom: 0;
}

.output > .no-toolbar {
  top: 0;
}

#JSONEditor .CodeMirror {
  font-size: 0.9em;
}

#JSONEditor .CodeMirror,
#JSONEditor .CodeMirror-gutters {
  background-color: #efefef;
}

.editor,
.editor > div:not(.CodeMirror) {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

li.entry {
  margin: 0;
  list-style: none;
  padding: 5px;
  position: relative;
}

.CodeMirror .marked,
.entry.highlighted {
  background-color: hsla(56, 100%, 51%, 0.4);
}

.CodeMirror .marked-good {
  border: 0.1em solid green;
}

.CodeMirror .marked-bad {
  border: 0.1em solid red;
}

.CodeMirror .marked-evo-from {
  background-color: hsla(7, 100%, 51%, 0.4);
}

.CodeMirror .marked.marked-evo-from {
  background-image: repeating-linear-gradient(-53deg, hsla(56, 100%, 51%, .4) 0px 5px, hsla(7, 100%, 51%, .4) 5px 10px);
  background-attachment: fixed;
  background-color: transparent;
}

.CodeMirror .marked-evo-to {
  background-color: hsla(101, 100%, 51%, 0.4);
}

.CodeMirror .marked.marked-evo-to {
  background-image: repeating-linear-gradient(-53deg, hsla(56, 100%, 51%, 0.4) 0px 5px, hsla(101, 100%, 51%, 0.4) 5px 10px);
  background-attachment: fixed;
  background-color: transparent;
}

.CodeMirror .marked-impacted {
  background-color: hsla(185, 100%, 51%, 0.4);
}

.CodeMirror .marked.marked-impacted {
  background-image: repeating-linear-gradient(-53deg, hsla(56, 100%, 51%, 0.4) 0px 5px, hsla(185, 100%, 51%, 0.4) 5px 10px);
  background-attachment: fixed;
  background-color: transparent;
}

.entry > .value {
  white-space: pre-wrap;
}

.entry > .value .s {
  cursor: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.entry.toggable::before {
  content: '+';
  color: green;
  position: absolute;
  left: -10px;
}

.entry.toggable.open::before {
  content: '-';
  color: red;
}

.entry .invokeable {
  cursor: pointer;
}

.entry .invokeable:hover {
  text-decoration: underline;
}

.placeholder {
  font-size: 0.9em;
}

.compact,
.tokenName,
.entry.toggable > .key {
  cursor: pointer;
}

.compact:hover,
.tokenName:hover,
.entry.toggable > .key:hover > .name {
  text-decoration: underline;
}

.CodeMirror {
  height: 100%;
}

.CodeMirror-scroll {
  overflow: auto;
}

.editor .CodeMirror-gutters {
  background-color: white;
  border: none;
}

.CodeMirror .ErrorGutter {
  width: .7em;
}

.CodeMirror pre.errorMarker {
  background-color: #EB9494;
}

/* Dialog */
.dialog {
  align-items: center;
  background-color: rgba(255, 255, 255, 0.7);
  bottom: 0;
  color: #333;
  display: flex;
  justify-content: center;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1000;
}

.dialog .inner {
  max-height: 90vh;
  background-color: white;
  box-shadow: 0px 0px 10px #555;
  border-radius: 3px;
  min-width: 400px;
  display: flex;
  flex-direction: column;
}

.dialog .header {
  flex-shrink: 0;
  padding: 10px 10px 0px 10px;
}

.dialog .body {
  overflow: auto;
  padding: 10px;
}

.dialog .footer {
  flex-shrink: 0;
  padding: 0 10px 10px 10px;
  text-align: right;
}

.dialog .inner h3 {
  margin: 0 0 10px 0;
  padding: 0;
}

#SettingsDialog ul.settings {
  margin: 0;
  padding: 0;
  list-style: none;
}

#SettingsDialog ul.settings li {
  padding: 3px 0;
}


body .CodeMirror-hints,
body .CodeMirror-Tern-tooltip {
  z-index: 1000;
}

.shareInfo dd {
  margin: 0;
  margin-top: 5px;
  margin-bottom: 10px;
}

.shareInfo input {
  font-size: 15px;
  padding: 5px;
  width: calc(100% - 10px);
}

.toggleBtn {
  position: absolute;
  right: 0;
  height: 20px;
  z-index: 10;
  cursor: pointer;
  outline: none;
}

.toggleBtn > .btnText {
  padding-left: 5px;
  font-size: 12px;
}
